<head><style>html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

body {
	font-family: "URW Palladio L", serif;
	font-size: 16px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 20px;
}

.container {
	display: flex;
}

ul {
	list-style: square inside;
}

#cv {
	background-color: #FAF7AF;
	padding-left: 10px;        
  	flex: 3;
}


#extra {
	background-color: black;
	color: white;         
  	flex: 1;
  	font-size: 1.2em;
  	padding: 10px;
}

div[id$='extra'] > a:link, div[id$='extra'] > ul > a:link{
	color: yellow;
	text-decoration: : none;
}

div[id$='extra'] > a:visited, div[id$='extra'] > ul > a:link{
	color: yellow;
	text-decoration: : none;
}

div[id$='extra'] > img {
	width: 25%;
	height: 25%;
}

#contact {
	padding: 8px 4px;
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
	width: 300px;
	background-color: #E7DC92;
}

.contact-name {
	font-size: 1.4em;
	font-weight: bold;
}

.section {
	margin-top: 20px;
	padding-bottom: 10px;
}

.title-section {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
	padding-bottom: 15px;
}

.header-date {
	font-weight: bold;
	font-size: 1.1em;
}

.header-company-name, .header-school-name {
	font-weight: bold;
	padding-left: 10px;
}

.header-school-location, .header-company-location {
	color: #545F69;
}

.section > div {
	padding-left: 50px;
}

.education-item, .work-item, .project-item {
	padding-bottom: 15px;
}

.description-work {
	width: 90%;
	padding-bottom: 10px;
}

.technologies-work > span {
	padding : 0px 10px;
	margin-left: 5px;
	border-radius: 6px;
	border: 1px solid black;
	background-color: #AC7641;
	color: white;
	font-weight: bold;
}

.skills-items > span {
	padding : 0px 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	border-radius: 6px;
	border: 1px solid black;
	background-color: #B2913F;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	flex: 0 0 auto;
}

.skills-items {
	padding-left: 50px;
	display: flex;
	flex-wrap: wrap;
}

.highlighted {
	border-radius: 5px;
	background-color: rgba(178, 145, 63, 0.4);
}

@media (max-width: 900px) {
    .container {
        display: block;
    }
}

@media print {
	body {
		margin: 0 0;
	}
	#extra {
		display: none;
	}
}#extra {display: none;}</style></head><div class="container">
    <div id="cv">
        <div id="contact" >
            <div class="contact-name">Vladimir Vujosevic</div>
            <div class="contact-email">vladimirvuj@gmail.com</div>
            <div class="contact-external"> https:&#x2F;&#x2F;github.com&#x2F;frontmesh </div>
            <div class="contact-city">Living in Diemen</div>
        </div>

        <div id="education" class="section">
            <div class="title-section">Education</div>
            <div class="education-item" >
                <span class="header-date">Jun, 2001 &ndash; Jan, 2005 </span>
                <span class="header-school-name">Belgrade Business School</span>
                <span class="header-school-location">(Belgrade, Serbia)</span> <br />
                <span class="description-education">Bachelor in Information Technology
                </span>
            </div>
            <div class="education-item" >
                <span class="header-date">Jun, 1997 &ndash; Jan, 2001 </span>
                <span class="header-school-name">XI Belgrade Gymnasium</span>
                <span class="header-school-location">(Belgrade, Serbia)</span> <br />
                <span class="description-education">Nature and Math sciences
                </span>
            </div>
        </div>

        <div id="work-experience" class="section">
            <div class="title-section">Work Experience</div>
            <div class="work-item" >
                <span class="header-date">Oct, 2016 &ndash; present</span>
                <span class="header-company-name">Senior Software Engineer at Weeronline and Zoover</span>
                <span class="header-company-location">(Amsterdam, Netherlands)</span><br />
                <div class="description-work"> Weeronline is a dutch weather and forecasting service with more than 18 years operating on the market, currently relaunched on a modern environment, running on Kubernetes in Google Cloud™
Building universal (isomorphic) responsive React application.
Building and maintaining NodeJS REST API application
Helping with migration strategy from legacy Weeronline platform.
Maintaining Jenkins pipline for different projects.
Troublshooting and maintaining Kubernetes cluster running in GoogleCloud. </div>
                <div class="technologies-work">
                    <span>NodeJS </span>
                    <span>React </span>
                    <span>Sass </span>
                    <span>MongoDB </span>
                    <span>Kubernetes </span>
                    <span>GoogleCloud </span>
                </div>
            </div>
            <div class="work-item" >
                <span class="header-date">Dec, 2012 &ndash; Jul, 2016</span>
                <span class="header-company-name">Senior Front-end Developer  at Humanity - Shiftplanning</span>
                <span class="header-company-location">(Belgrade, Serbia)</span><br />
                <div class="description-work"> Humanity is workforce management software startup from San Francisco, California bootstraped in 2009 to solve employee shift scheduling problems.
Building enterprise grade SPA JavaScript application with scalable architacture based on a CanJS framework.
Agile &#x2F; Scrum methodology with cross functional team setup </div>
                <div class="technologies-work">
                    <span>NodeJS </span>
                    <span>CanJS </span>
                    <span>Less </span>
                    <span>PHP </span>
                    <span>MongoDB </span>
                    <span>MySQL </span>
                </div>
            </div>
            <div class="work-item" >
                <span class="header-date">Dec, 2011 &ndash; Dec, 2012</span>
                <span class="header-company-name">Senior Front-end Developer at Computer Rock (ex. Spoiled Milk)</span>
                <span class="header-company-location">(Belgrade, Serbia)</span><br />
                <div class="description-work"> Computer Rock is a web agency focused on product and service design by consulting companies in business modelling, processes and product&#x2F;service development
Building and maintaing vast set of web applications ranging from SPA to CMS based software and hybrid mobile applications.
Maintaining Rails application, in-house time tracking startup project. </div>
                <div class="technologies-work">
                    <span>JavaScript </span>
                    <span>BackboneJS </span>
                    <span>SenchaTouch </span>
                    <span>jQuery </span>
                    <span>HTML </span>
                    <span>CSS </span>
                    <span>Less </span>
                    <span>Sass </span>
                    <span>Drupal </span>
                </div>
            </div>
            <div class="work-item" >
                <span class="header-date">Jul, 2008 &ndash; Nov, 2011</span>
                <span class="header-company-name">Front-end Developer at Complus Visual Communication</span>
                <span class="header-company-location">(Belgrade, Serbia)</span><br />
                <div class="description-work"> Complus is a consulting company and web agency that offers high quality IT solutions to various clients based in Serbian and Italian markets.
Building Front-end for multiple applications from small to enterprise scale based on Zend PHP framework. </div>
                <div class="technologies-work">
                    <span>HTML </span>
                    <span>CSS </span>
                    <span>JavaScript </span>
                    <span>PHP </span>
                    <span>Zend </span>
                </div>
            </div>
        </div>


        <div id="skills" class="section">
            <div class="title-section">Skills</div>
            <div class="skills-items">
                <span> Javascript </span> 
                <span> NodeJS </span> 
                <span> React </span> 
                <span> React Native </span> 
                <span> BackboneJS </span> 
                <span> CanJS </span> 
                <span> PHP </span> 
                <span> Bash </span> 
                <span> Ruby </span> 
                <span> Travis </span> 
                <span> Jenkins </span> 
                <span> Unix </span> 
                <span> Kubernetes </span> 
                <span> Google Cloud </span> 
            </div>
        </div>

        <div id="languages" class="section">
            <div class="title-section">Languages</div>
            <div class="language-item" > Serbian
             (Native speaker)
            </div>
            <div class="language-item" > English
             (Expert)
            </div>
        </div>

        <div id="hobbies" class="section" >
            <div class="title-section">Hobbies</div>
            <div class="hobbies-items">
                <span class="hooby-item" >Sports 
                    (Table-Tennis, Board sports, Swimming, Outdoors)
                </span><br /> <!-- book i read !-->
            </div>
        </div>
    </div>
    <div id="extra">
    </div>
</div>